<%= form_with model: event do |form| %>
  <div class="block">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Your event's title", class: "input", autofocus: true%>
    <% event.errors.full_messages_for(:title).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div class="block">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Details of event...", class: "textarea "%>
    <% event.errors.full_messages_for(:description).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div class="block">
  <%= form.label :date %>
  <%= form.text_field :date, type: :date, class: "input" %>
  <% event.errors.full_messages_for(:date).each do |message| %>
  <p><%= message %></p>
    <% end %>
  </div>

  
  <div>
  <% if @event.id %>
    <%= form.submit value="Confirm Changes", class: "button is-primary" %>
  <% else %>
    <%= form.submit value="Create", class: "button is-primary" %>
  <% end %>
  </div>
<% end %>