<h1 class="title is-3">
  <%= link_to current_user.name, current_user %>
</h1>
<% if !@invitations.nil? %>
  <div class="title is-5">
    <span class="icon"><i class="fas fa-user-plus"></i></span> Incoming invitations:
  </div>
  
  <% @invitations.each do |invitation| %>
    <div class="box">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-6">
              <%= link_to invitation.event.title, invitation.event %>
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= link_to decline_event_path(invitation) do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
        <p>by <%= invitation.event.creator.name %> </p>
    </div>
  <% end %>
<% end %>

<div class="title is-5">
  <span class="icon"><i class="fas fa-house-user"></i></span> Hosted events:
</div>
<% current_user.events.upcoming.order(:date).each do |event| %>
  <div class="block">
    <span class="icon"><i class="far fa-calendar-alt"></i></span>
    <%= event.date %> - <%= link_to event.title, event %>
  </div>
<% end %>

<div class="title is-5">
  <span class="icon"><i class="fas fa-walking"></i></span>Attended events:
</div>
<% Event.all.upcoming.order(:date).each do |event|%>
  <% if event.attendees.include?(current_user) %>
    <div class="block">
      <span class="icon"><i class="far fa-calendar-check"></i></span>
      <%= event.date %> - <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>
