<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <h1 class="title is-4"><%= @event.title %></h1>
              </div>
            </div>
              <% if @event.date >= Date.today %>
                <% if @event.creator == current_user %>
                <div class="level-right">
                  <div class="level-item">
                    <%= link_to 'Edit Event', edit_event_path, class: "button is-info" %>
                  </div>
                  <div class="level-item">
                    <%= link_to 'Delete Event', event_path, method: :delete, class: "button is-danger" %>
                  </div>
                </div>
                <% else %>
                <div class="level-right">
                  <div class="level-item">
                    <% if current_user != @event.creator %>
                      <% if @event.attendees.include?(current_user) %>
                        <%= link_to 'I\'m not going', cancel_event_path, class: "button is-danger" %>
                      <% else %>
                        <%= link_to 'Enroll', enroll_event_path, class: "button is-success" %>
                      <% end %> 
                    <% end %>
                  </div>
                </div>
                <% end %>
              <% end %>
          </div>
          <div class="block">
            <i class="fas fa-calendar-alt"></i>
            <%= @event.date %>
            <p>Hosted by<br />
            <strong><%= link_to @event.creator.name, @event.creator %></strong></p>
          </div>

          <div class="block">
            <div class="title is-6">
              Event's details:
            </div>
            <%= @event.description %>
            
          </div>

          <% if @event.attendees.presence %>
            <div class="block">
              <p>
                <div class="title is-6">
                  Attendees
                </div>
                <% @event.attendees.each_with_index do |attendee, index| %>
                  <%= link_to attendee.name, attendee %>
                  <% if index == @event.attendees.length - 1 %>
                    .
                  <% else %>
                    ,
                    <% end %>
                <% end %>
            </div>
          <% end %>

          <div class="level">
            <div class="level-left">
            <% if current_user == @event.creator %>
              <div class="level-item">
                <%= link_to 'Invite People', invitation_event_path, class: "button is-primary" %>
              </div>
            <% end %>
            </div>
            <div class="level-right">
              <div class="level-item">
                <%= link_to 'Back to Feed', root_path, class: "button is-info" %>
              </div>
            </div>
          </div>
      </div>

      <div class="box">
        <div class="title is-6">
          Add New Comment
        </div>
        <%= render 'comment_form' %>
      </div>

          <% Comment.where(event_id: @event.id).order(:created_at).each do |comment| %>
      <div class="box">
        <div class="block">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon"><i class="fas fa-user-alt"></i></span> 
                <%= link_to comment.user.name, comment.user %>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <%= comment.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
                <%= link_to comment, method: :delete, data: { confirm: "Do you really want to delete your comment?" } do %>
                  <span class="icon"><i class="fas fa-trash-alt is-danger"></i></span>
                <% end %>
              </div>
            </div>
          </div>
            <div class="title is-6">
              
            </div>
              <p>
            <%= comment.body.gsub(/\n/, '<br/>') %>
              </p>
        </div>
      </div>
          <% end %>

    </div>
  </div>
</div>